// Scss code goes here!
@use '~@kth/style/scss/utils/reset.scss';
@use '~@kth/style/scss/utils/mixins.scss';

@use '~@kth/style/scss/components/logotype.scss';
@use '~@kth/style/scss/components/search.scss';
@use '~@kth/style/scss/components/alert.scss';
@use '~@kth/style/scss/components/footer.scss';
@use '~@kth/style/scss/components/mega-menu.scss';
@use '~@kth/style/scss/components/visually-hidden.scss';
@use '~@kth/style/scss/components/button.scss';
@use '~@kth/style/scss/components/header.scss';
@use '~@kth/style/scss/components/menu-item.scss';
@use '~@kth/style/scss/components/menu-panel.scss';
@use '~@kth/style/scss/components/translation-panel';
@use '~@kth/style/scss/utils/prose.scss';

main {
  @include mixins.container;
  @include prose.prose;
}

#app {
  width: 100%;
  padding: 15px;

  > nav {
    grid-column: 1;
  }

  > main {
    grid-column: 2;
  }

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding-inline: 0;
  }
}
